body {
    text-align: center;
}

.color {
    display: inline-block;
    padding: 40px;
    border: 1px black solid;    
}
.color.black {
    background-color: black;
}
/* ----------requisito 6----------------- */
#pixel-board {
    width: 210px;
}

.pixel {
    background-color: gray;
    padding: 40px;
    display: inline-block;
    border: 1px black solid;
}