*{
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    background-color: antiquewhite;
}

.color {
    display: inline-block;
    padding: 40px;
    border: 1px black solid;    
}
.color.black {
    background-color: black;
}
/* ----------requisito 6----------------- */
#pixel-board {
    width: 250px;
    height: 205px;
    margin: auto;
    padding: 20px;
}
.pixel {
    width: 40px;
    height: 40px;
    border: 1px black solid;
    background-color: white;
    display: inline-flex;
    margin: 1px;
}
