*{
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    /* background-color: antiquewhite; */
    background-image: url('./images/388523.jpg');
    background-size: cover;
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    /* box-sizing: border-box; */
    width: 100vw;
    height: 100vh;
}

#conteiner {
    /* max-width: 700px; */
    /* margin: auto; */
}

.color {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 2px;
    border-radius: 5px;
    cursor: url('./images/cursor-pointer.svg'), pointer;
    /* cursor: pointer; */
}
/* ----------requisito 6----------------- */
#pixel-board {
    /* margin: auto; */
    /* background-color: rgba(255, 255, 255, 0.15); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto;
    cursor: url('./images/cursor-pointer.svg'), pointer;
    /* border-radius: 10px; */

}
.pixel {
    width: 40px;
    height: 40px;
    border: 1px black solid;
    background-color: #fff;
    /* display: inline-flex; */
    display: inline-block;
    margin: 1px;
    cursor: url('./images/cursor-pointer.svg'), pointer;
}

#color-palette {
    background-color: rgba(255, 255, 255, 0.15);
    width: 360px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 700;
    background-color: #29C7AC;
    cursor: url('./images/cursor-pointer.svg'), pointer;
}

input {
    padding: 3px;
    border-radius: 5px;
}
